__pycache__/
*.pyc
*.pyo
.idea/
.env
*.db
data/db/*.db
data/videos/*
data/charts/*
data/json/*
data/csv/*
data/*.json
data/*.csv
!data/demo/quotes.json
logs/
.vscode/
*.code-workspace
node_modules/
dist/
.cache/
